<footer class="footer">
    <p>&copy; {{ site.time | date: '%Y' }} Rayana Verissimo. <a href="{{ site.url }}{{ "about" | relative_url }}">Colophon</a></p>
    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
</footer>
