<header class="header" role="banner">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <h1><a class="site-title" rel="author" href="{{ site.url }}">{{ site.title | escape }}</a></h1>
  <p>{{- site.description | escape -}}</p>

  <nav>
    {% for post in site.posts %}
    {% unless post.event %}
    <li>
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endunless %}
    {% endfor %}

    {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}

    {%- if my_page.title -%}
    <li><a href="{{ site.url }}{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
    {%- endif -%}
    {%- endfor -%}
  </nav>
</header>
