/**
 * Make all elements inherit from `html` box-sizing
 */
* {
  box-sizing: inherit; }

/**
 * Redefine box-sizing on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Basic typography styles
 */
body {
  color: #382842;
  font: 1.1em/1.3 "Courier", "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace, serif; }

/**
 * Links
 */
a {
  color: #F244C4;
  text-decoration: underline;
  transition: 0.15s; }
  a:hover, a:active, a:focus {
    color: #4C0A75; }

/**
 * Images
 */
img {
  width: 100%;
  object-fit: cover; }

/**
 * Lists
 */
ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  display: list-item; }

/**
 * Headings
 */
h1, h2 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  position: relative;
  /* 1 */ }

/**
 * Header
 */
.header {
  order: 1;
  clear: both;
  grid-area: header;
  grid-column: 1;
  padding: 30px; }
  @media (min-width: 976px) {
    .header {
      flex: 0 0 20em; } }

/**
* Main container
*/
/* need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .main > * {
    width: auto;
    margin: 0; } }
.main {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  column-count: 2;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'header' 'container' 'footer';
  grid-gap: 10px;
  margin: 0 auto; }
  @media (min-width: 976px) {
    .main {
      grid-template-columns: 300px 1fr;
      grid-template-areas: 'header container' 'header container' 'footer container'; } }

.container {
  display: flex;
  flex-direction: column;
  order: 2;
  display: inline-grid;
  grid-area: container;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding-top: 15px; }
  @media (min-width: 976px) {
    .container {
      flex: 0 0 60em;
      grid-template-columns: 1fr 1fr; } }

/* page type: gallery */
.article--gallery {
  padding: 30px; }

/* page type: plain text */
.article {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 0;
  padding: 30px; }
  .article h2 {
    grid-column: auto; }

/**
 * Footer
 */
.footer {
  clear: both;
  order: 3;
  font: 0.8em/1.2 "Courier", "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace, serif;
  grid-area: footer;
  grid-column: 1;
  align-self: end;
  padding: 30px; }

/*# sourceMappingURL=main.css.map */
