<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="main">
    {%- include header.html -%}

    {{ content }}

    {%- include footer.html -%}
  </div>
</body>
</html>
