/* page type: gallery */
.article--gallery {
  padding: 30px;
}

/* page type: plain text */
.article {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 0;
  padding: 30px;

  h2 {
    grid-column: auto;
  }
}
