/**
 * Make all elements inherit from `html` box-sizing
 */
* {
  box-sizing: inherit;
}

/**
 * Redefine box-sizing on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Basic typography styles
 */
body {
  color: $main-color;
  font: 1.1em / 1.3 $text-font;
}

/**
 * Links
 */
a {
  color: $dark-pink;
  text-decoration: underline;
  transition: 0.15s;

  &:hover,
  &:active,
  &:focus {
    color: $light-purple;
  }
}

/**
 * Images
 */
img {
  width: 100%;
  object-fit: cover;
}
