/**
* Main container
*/

/* need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .main > * {
    width: auto;
    margin: 0;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  column-count: 2;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  'header'
  'container'
  'footer';

  grid-gap: 10px;
  margin: 0 auto;

  @include media('>large') {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    'header container'
    'header container'
    'footer container';
  }
}

.container {
  display: flex;
  flex-direction: column;
  order: 2;

  display: inline-grid;
  grid-area: container;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding-top: 15px;

  @include media('>large') {
    flex: 0 0 60em;
    grid-template-columns: 1fr 1fr;
  }
}
