/**
 * Lists
 */
ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
}

/**
 * Headings
 */
h1, h2 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  position: relative; /* 1 */
}
