/// Regular font stack
$text-font: 'Courier', 'Courier New', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace, serif;

/// Theme colors
$light-pink: #FFE8F9;
$dark-pink: #F244C4;
$light-purple: #4C0A75;
$dark-purple: #382842;

/// Main color
$main-color: $dark-purple;
$secondary-color: $dark-pink;

/// Main container width
$main-width: 975px;

/// Breakpoints
$breakpoints: (
  'small': 600px,
  'medium': 801px,
  'large': $main-width
);
